#name{
    text-align:center;
    background-color:#FF7272;
    padding:10px;
    margin:10px;
    height:500px ;
    
        }
h1{

background-color:;
color:white;
font-size:50px;


}
span{
font-size:20px;
color:white;
background-color:black;
padding: 8px;

}

.amin {

background-color: black;
padding: 10px;
font-size:30px ;

}


.navbar-brand{


background-color;

color|:green;


}

.amin{

    background-color: black;
    color:;
    padding:15px;
    margin: 10px;

}
.nav-link{


background-color:;
color:white;


}
.sr-only{


    color: blanchedalmond;
    background-color: brown;
}


#navbarSupportedContent{


background-color:;
color:red;

}


. navbar{


    background-color:green;
    color:red;
    

}

/* .ifram{


height: 200px;
width: 200px;
background-color: blueviolet;


}
 */


 .div1{
background-color:#4192D5 ;
margin:10px ;
padding:20px;
 }



 .div2{
     margin:10px;
     padding:10px;
     background-color:blue;



 }



 .div3{
background-color: green;
margin:10px;
padding:px;
 }

body{

background-image:url('red');

}







